<main></main>
    <form action="">
        <label for="">Recuperar password</label>
        <input type="text" placeholder="Ingrese nueva password">
        <input type="text" placeholder="Repita la nueva password">
        <button>Cambiar password</button>
    </form>
</main>