<!DOCTYPE html>
<h1>Chat</h1>

<!-- Formulario para enviar mensajes -->
<form id="chat-form">
    <input type="text" id="message" placeholder="Escribe un mensaje" required>
    <button type="submit">Enviar</button>
</form>

<!-- Lista de mensajes -->
<div id="messages-list"></div>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    const chatForm = document.querySelector('#chat-form');
    const messageInput = document.querySelector('#message');
    const messagesList = document.querySelector('#messages-list');

    chatForm.addEventListener('submit', (event) => {
        event.preventDefault();
        const message = messageInput.value;
        
        socket.emit('chatMessage', message);
        messageInput.value = '';
    });

    socket.on('chatMessage', (message) => {
        const messageItem = document.createElement('div');
        messageItem.textContent = message;
        messagesList.appendChild(messageItem);
    });
</script>