<!-- home.handlebars -->
<h1>Lista de Productos</h1>
<ul>
    {{#each products}}
        <li>ID: {{id}}, Nombre: {{name}}, Precio: {{price}}, Categoría: {{category}}</li>
    {{/each}}
    <script src="/socket.io/socket.io.js"></script>
</ul>