<main><br>
    <form action="/api/session/login" method="POST" id="">
        <h1>Inicia sesion</h1>
        <input type="text" name="user_name" placeholder="Ingrese su nombre de usuario" required><br>
        <input type="password" name="password" placeholder="Ingrese su password" required><br><br>
        <button>Login</button>
        <a href="/register">Registrarse</a><br>
        <a href="/newpass">Olvidaste tu contraseña?</a><br>
        <a href="/api/session/github" class="btn btn-outline-dark w-75">Entrar con Github</a>
    </form>
</main>