<main>
    <form action="">
        <label for="">Logeate</label><br>
        <input type="text" placeholder="Ingrese su email"><br>
        <input type="text" placeholder="Ingrese su password"><br>
        <button>Login</button>
    </form>
</main>