<body>
    <header>
        <h1>Sitio web</h1>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/chat">Chat</a></li>
                <li><a href="/realtimeproducts">Real-Time Products</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <p>Pie de pagina</p>
    </footer>
</body>
<script>
    console.log('Usuario conectado al servidor');
    console.log('Socket.IO conectado');
</script>