<!-- realTimeProducts.handlebars -->
<h1>Productos en Tiempo Real</h1>

<form id="productForm">
    <input type="text" name="title" placeholder="Título" required>
    <input type="number" name="price" placeholder="Precio" required>
    <input type="text" name="description" placeholder="Descripción" required>
    <input type="text" name="thumbnail" placeholder="URL de la imagen" required>
    <input type="number" name="stock" placeholder="Stock" required>
    <button type="submit">Agregar Producto</button>
</form>

<ul id="productsList">
<!-- Productos -->
</ul>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    const form = document.getElementById('productForm');
    const productList = document.getElementById('productsList');

    form.addEventListener('submit', async (event) => {
        event.preventDefault();

        const formData = new FormData(form);
        const data = Object.fromEntries(formData.entries());

        try {
            const response = await fetch('/api/product', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            if (response.ok) {
                // El servidor emite la lista completa de productos después de agregar uno nuevo
                // No es necesario emitir el producto desde el cliente
                form.reset(); // Limpiar el formulario
            } else {
                console.error('Error al agregar el producto');
            }
        } catch (error) {
            console.error('Error en la solicitud:', error);
        }
    });

    // Escuchar el evento de actualización de productos desde el servidor
    socket.on('productList', (products) => {
        productList.innerHTML = ''; // Limpiar la lista de productos

        products.forEach((product) => {
            const li = document.createElement('li');
            li.textContent = `${product.title} - $${product.price}`;
            productList.appendChild(li);
        });
    });
</script>