<main>
    <form action="/api/session/register" method="POST" id="">
        <label for="">Registrate</label><br>
        <input type="text" name="first_name" placeholder="Ingrese su nombre"><br>
        <input type="text" name="last_name" placeholder="Ingrese su apellido"><br>
        <input type="text" name="user_name" placeholder="Ingrese su nombre de usuario" required><br>
        <input type="email" name="email" placeholder="Ingrese su email" required><br>
        <input type="password" name="password" placeholder="Ingrese su password" required><br>
        <input type="text" name="phone" placeholder="Ingrese su numero de telefono"><br>
        <button type="sumbit">Registrarse</button>
        <a href="/login">Logearse</a>
    </form>
</main>

<script>
</script>