<main></main>
    <form action="">
        <label for="">Registrate</label><br>
        <input type="text" placeholder="Ingrese su nombre"><br>
        <input type="text" placeholder="Ingrese su apellido"><br>
        <input type="text" placeholder="Ingrese su nombre de usuario"><br>
        <input type="text" placeholder="Ingrese su numero de telefono"><br>
        <input type="text" placeholder="Ingrese su email"><br>
        <input type="text" placeholder="Ingrese su password"><br>
        <button>Registrarse</button>
    </form>
</main>