<!-- success.handlebars -->
<h1>Producto Creado con Éxito</h1>

<p>El producto ha sido creado exitosamente.</p>

<a href="/realtimeproducts">Volver a la vista en tiempo real</a>

<form action="/api/product" method="POST">
    <input type="text" name="name" placeholder="Nombre del producto" required>
    <input type="number" name="price" placeholder="Precio" required>
    <input type="text" name="category" placeholder="Categoría" required>
    <button type="submit">Crear otro Producto</button>
</form>