<!DOCTYPE html>
<h1>Usuarios</h1>

<form id="userForm">
    <input type="text" name="first_name" placeholder="Nombre" required> <br>
    <input type="text" name="last_name" placeholder="Apellido"><br>
    <input type="text" name="user_name" placeholder="Nombre de Usuario" required><br>
    <input type="email" name="email" placeholder="Email" required><br>
    <input type="password" name="password" placeholder="Contraseña" required><br>
    <input type="text" name="phone" placeholder="Teléfono"><br>
    <button type="submit">Agregar Usuario</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    const form = document.getElementById('userForm');

    form.addEventListener('submit', async (event) => {
        event.preventDefault();
        const formData = new FormData(form);
        const data = Object.fromEntries(formData.entries());
        try {
            const response = await fetch('/api/user', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });
            if (response.ok) {
                form.reset(); // Limpiar el formulario
            } else {
                console.error('Error al agregar el usuario');
            }
        } catch (error) {
            console.error('Error en la solicitud:', error);
        }
    });

</script>